*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

  }



@media screen and (min-width:320px) and (max-width:480px){
  main{
    background-color: aqua;
  }
}


@media screen and (min-width: 481px) and (max-width:768px){
    body{
        background-color: rgb(62, 62, 82);
    }
}
 


@media screen and (min-width:769px) and (max-width:1024px){
  body{
    background-color: rgb(211, 211, 211);
  }
}



@media screen and (min-width:1025px) and (max-width:1200px){
    body{
        background-color: blue;
    }
}
