

@media screen and(min-width:320px) and (max-width:480px){
   body{
    background-image: url(Header\ 1.jpg);
   }
}

@media screen and (min-width: 481px) and (max-width:768px){
    body{
        background-color: aquamarine;
    }
}


@media screen and (min-width:769px) and (max-width:1024px){
    body{
        background-color: blue;
    }
    main{
        width: 768px;
    }
}


@media screen and (min-width:1025px) and (max-width:1200px){
body{
    background-color: antiquewhite;
}
}

@media screen and (min-width:1201px){
    body{
        background-color: aqua;
    }
}